body,
html,
index {
    width: 100%;
    height: 100%;
}

.components-logo {
    box-sizing: border-box;
    padding: 15px 25px;
    border-bottom: 1px solid #ccc;
    background: white;
    .caption {
        font-size: 20px;
        text-indent: 20px;
    }
}

.components-progress{
    width: 100%;
    height: 3px;
    background-color: #cccccc;
    cursor: pointer;

    margin-top: 10px;

    .progress{
        width: 0;
        height: 3px;
    }
}
